<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/user/register}" th:object="${user}" method="post">
        <div>
            <label for="vorname">Vorname:</label>
            <input type="text" id="vorname" th:field="*{vorname}" required>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>
